*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
**/build
.claude
/captures
.externalNativeBuild
.cxx
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
/iosApp/Pods/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
/iosApp/iosApp.xcworkspace/
